principal {
    background-color: #f0f0f0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

.encabezado{
    background-color: black;
    border-radius: 8px;
    margin: 2px;
    padding: auto 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #000000 50%, #d8b400 );
}

.usuario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.usuario h5{
    color: white;
    font-size: 18px;
    margin-left: 6px;
    margin-right: 6px;
}

.menu-navegacion{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none; /* Quita viñetas */
}

.menu-navegacion a{
    text-decoration: none;   /* Quita el subrayado */
    font-size: 18px;         /* Aumenta el tamaño */
    color: white;            /* Color opcional */
}

/* Aumenta el tamaño del cuadro */
.lis{
    padding: 10px 25px;  /* ⬅️ AQUÍ se agranda el cuadro */
}

/* Para que el <a> ocupe todo el cuadro */
.lis a{
    display: block;
}

.lis:hover{
    border-radius: 5px;
    background-color: #dfa30c;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: 10px;
    animation-name: myAnimationLogo;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

#logoPrincipal{
    height: 55px;
    width: 55px;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./img/Logo_JMLC1.webp');
}

#logoPrincipal:hover{
    height: 55px;
    width: 55px;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./img/Logo_JMLC2.webp');
}