*{
    margin: 0;  /*Evita espacios inesperados entre elementos*/
    padding: 0;  /*Elimina rellenos internos autom치ticos*/
    box-sizing: border-box; /*Evita desbordes en pantallas peque침as*/
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%; /*Permite que el sitio use todo el ancho del dispositivo*/
    min-height: 100vh; /*Asegura que el body ocupe toda la pantalla*/
    background-color: #000000;
    line-height: 1.6; /*Mejora la lectura de textos largos*/
}


/*Encabezado o header*/
.encabezado{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    /*background: linear-gradient(to right, #000000 50%, #d89400 );*/
    background: linear-gradient(to right, #020069, #000000, #d89400);

}

.usuario{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 10px;

}

.usuario h5{
    color: white;
    font-size: 18px;
    margin-left: 6px;
    margin-right: 6px;
}

.menu-navegacion{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none; /* Quita vi침etas */
}

.menu-navegacion a{
    text-decoration: none;   /* Quita el subrayado */
    font-size: 18px;         /* Aumenta el tama침o */
    color: white;            /* Color opcional */
}

/* Aumenta el tama침o del cuadro */
.lis{
    padding: 10px 25px;  /* 拘勇 AQU칈 se agranda el cuadro */
}

/* Para que el <a> ocupe todo el cuadro */
.lis a{
    display: block;
}
.lis a:hover{
	color: black;
}

.lis:hover{
    border-radius: 5px;
    background-color: #dfa30c;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 5px;
    margin-left: 15px;
    animation-name: myAnimationLogo;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

#logoPrincipal{
    height: 55px;
    width: 55px;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./img/Header/logoJMLC1.webp');
}

#logoPrincipal:hover{
    height: 55px;
    width: 55px;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./img/Header/logoJMLC2.webp');
}


/*Haciendo la pagina responsiva el header*/

@media screen and (max-width:900px) {
    header{
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }    

    .menu-navegacion{
        flex-direction: column;
        gap: 14px;
    }
}

/*Galeria 3D, inicio de la pagina*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@property --translate-z {
	syntax: '<length>';
	inherits: false;
	initial-value: -3000px;
}

.galeria3D {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    overflow: hidden; /* 游댠 CLAVE */
}


.galeria3D > div {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}


.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	font-family: 'Orbitron', 'Courier New', monospace;
	font-size: clamp(2rem, 8vw, 4rem);
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-shadow: 
		0 0 1rem rgba(0, 0, 0, 0.5),
		0 0 2rem rgba(0, 0, 0, 0.3),
		0 0 4rem rgba(0, 0, 0, 0.1);
	letter-spacing: 0.1em;
	pointer-events: none;
}

.title{
	text-shadow: 0 0 10px rgb(216, 148, 0);
}

.img3D{
  	box-shadow: 0 0 20px rgba(72, 60, 253, 0.541);
}

.img3D {
	position: absolute;
	inset-inline: 0;
	margin: auto;
	width: 20rem;
	object-fit: cover;
	will-change: transform;
	cursor: pointer;
	&:nth-of-type(odd) {
		opacity: 0;
		left: var(--left);
		transform: translateZ(var(--translate-z)) translate( calc(-25rem), calc( (var(--i) - ( var(--count) + 1) / 2) * 8rem ) );
		animation: move var(--duration) linear infinite, opacity var(--duration) linear infinite;    
		animation-delay: calc( var(--duration) / var(--count) * (var(--i) - 1) - var(--duration) ),
			calc( var(--duration) / var(--count) * (var(--i) - 1) - var(--duration) );
		&:hover {
			animation-play-state: paused;
		}
	}
	&:nth-of-type(even) {
		opacity: 0;
		right: var(--right);
		transform: translateZ(var(--translate-z)) translate(calc(25rem), calc( (var(--i) - ( var(--count) + 1) / 2) * -8rem ) );
		animation: move var(--duration) linear infinite, opacity var(--duration) linear infinite;    
		animation-delay: calc( var(--duration) / var(--count) * (var(--i) - 1) - var(--duration) ),
			calc( var(--duration) / var(--count) * (var(--i) - 1) - var(--duration) );
		&:hover {
			animation-play-state: paused;
		}
	}
}
@keyframes opacity {
	0% {
		opacity: 0;
	}
	20%,80% {
		opacity: 1;
	}
	90%,100% {
		opacity: 0;
	}
}
@keyframes move {
	0% {
		opacity: 0;
		--translate-z: -5000px;
	}
	100% {
		--translate-z: 2000px;
	}
}

.contenido-principal{
	color: #fff;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}


/*Sobre mi: JMLC*/
.Sobre-mi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 	50px;
	padding: 95px 20px;
	background-color: #080734;
}

.mensaje{
	border: 10px solid #9c6801d0;             /* Activa el borde */
    filter: drop-shadow(0 0 10px rgba(155, 122, 0, 0.836));
}
.element {
  border: 20px solid transparent;             /* Activa el borde */
  width: 750px;                               /* M치s ancho para ver el efecto */
  padding: 10px;                             /* Espacio interno */
  box-sizing: border-box;
  background-color: #000000;                     /* Fondo para destacar el texto */
  color: #ffffff;                                /* Texto legible */
}



/*Sobre-mi: Secci칩n imagenes*/
.imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#man1{
    position: absolute;
    z-index: 1;
    filter: drop-shadow(0 0 20px rgb(55, 244, 228));
}
#man2{
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0 0 10px rgb(250, 225, 83));
}   

#man3 {
    position: relative;
    z-index: 3;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    object-position: center top; /* 游녣 Esto la centra horizontal y la sube */
    filter: drop-shadow(0 0 10px rgb(223, 211, 138));
}

#man2:hover,
#man3:hover {
    transform: rotate(360deg);
    transition: transform 1.1s ease;


}

/*Responsiva esta secci칩n de sobre-mi*/

@media screen and (max-width:1000px) {
    .Sobre-mi{
        display: flex;
        flex-direction: column;
		align-items: center;
        gap: 150px;
        text-align: center;
    }    

	.element{
		width: 550px;
	}

	#man1{
		width: 300px;
		height: 310px;
	}

	#man2{
		width: 150px;
		height: auto;
	}

	#man3{
		width: 150px;
		height: 150px;
	}

}

@media screen and (max-width:800px) {
	
    .element{
		width: 380px;
	}
}

/*Habilidades tecnicas en programaci칩n*/
.habilidades{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: #8d6000;
	font-size: 30px;
	color: white;
}

#imgTec{
	height: 190px;
	width: 180px;
	border-radius: 10px;
	margin: 10px;
	padding: 5px;
	background-color: wheat;
	border: solid 2px blue;
}

#imgTec:hover{
	transform: scale(1.1);
	transition: transform 0.5s ease;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.541);
}

@media screen and (max-width:100px) {
    #imgTec{
		height: 140px;
		width: 130px;
	}  

}

@media screen and (max-width:700px) {
    #imgTec{
		height: 80px;
		width: 80px;
	}  

}